*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* list-style: none; */
}
body{
	background-color: #eee7ee;
}
a{
	text-decoration: none;
	color: #000000;
}
/* 导航栏开始 */
.daohanglang{
	width: 100%;
	/* height: 50px; */
	font-family: sans-serif;
	/* background-color: pink; */
}
:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;
}

.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
	z-index: 1;
  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
  z-index: 99;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}


.dropdown-menu-1 ul li a{
	font-size: 16px;
}
.menu-bar img{
	height: 80px;
}

/* 导航栏结束 */

/* 内容开始 */
.M{
	width: 75%;
	height: 5000px;
	/* background-color: pink; */
	margin: 0 auto;
}
/* 内容结束 */
/* 搜索图标开始 */
.fa{
	color: white;
	margin-left: 2px;
}
/* 搜索图标结束 */
/* 搜索框开始 */
.menu-bar input{
	outline: none;
	padding-left: 5px;
}
/* 搜索框结束 */
/* 标题开始 */
.guojixingshi img{
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* 标题结束 */
/* 轮播开始 */
.zuoyoulunbo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 600px;
            /* background-color: rgb(170, 190, 250); */
			list-style: none;
		
        }
        .shella {
            width: 900px;
            height: 500px;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            border: 1px #fff solid;
            box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.5);
        }

        .images {
            width: 300%;
            height: 100%;
            display: flex;
            position: absolute;
            left: 0;
            transition: .2s;
        }

        .img{
            width: 100%;
            background-size: cover;
        }
        .img:nth-child(1){
            background-image: url(../img/2022061917024894254.jpg);
			background-size: 100% 100%;
        }
        .img:nth-child(2){
            background-image: url(../img/2022061916531936603.jpg);
			background-size: 100% 100%;
        }
        .img:nth-child(3){
            background-image:url(../img/2022061917115290645.jpg);
			background-size: 100% 100%;
        }

        .min-images {
            display: flex;
            justify-content: space-evenly;
            position: absolute;
            bottom: 20px;
            width: 40%;
            z-index: 999;
            right: 10%;
        }

        .min{
            width: 60px;
            height: 60px;
            cursor: pointer;
            border-radius: 50%;
            background-size: cover;
            border: solid rgba(255, 255, 255, 0.5) 5px;
            background-position: -20px 0;
        }
        .min:nth-child(1){
            background-image: url(../img/2022061917024894254.jpg);
        }
        .min:nth-child(2){
            background-image: url(../img/2022061916531936603.jpg);
        }
        .min:nth-child(3){
            background-image: url(../img/2022061917115290645.jpg);
        }

        .button {
            width: 100%;
            height: 100%;
            position:absolute;
            display: flex;
            justify-content: space-between;
            user-select:none;
        }

        .button-left,
        .button-right {
            font-size: 50px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 0 20px;
            cursor: pointer;
            line-height: 500px;
        }
/* 轮播结束 */

/* 标题开始 */
.guojixingshi-two img{
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* 标题结束 */

/* 国际动态开始 */

.guojidongtai{
	width: 100%;
	height: 1050px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* background-color: cornflowerblue; */
}
.guojidongtai>div{
	width: 290px;
	height: 330px;
}
.guojidongtai-one{
	background-color: #ffffff;
}
.guojidongtai-one:hover{
	box-shadow: 20px 20px 20px rgba(0,0,0,0.5);
}
.guojidongtai-one img{
	width: 100%;
	height: 160px;
}
.text-tupian{
	width: 100%;
	height: 42px;
	/* line-height: 42px; */
	font-size: 14px;
	/* text-align: center; */
	margin-top: 5px;
}
.text-tupian-one{
	color: gray;
	width: 100px;
	height: 16px;
	position: relative;
	top: 55px;
	left: 12px;
	font-size: 10px;
}
.text-tupian-one a,.text-tupian-two a,.text-tupian-three a{
	color: gray;
}
.text-tupian-two{
	color: gray;
	position: relative;
	width: 100px;
	height: 16px;
	top: 40px;
	left: 65px;
	font-size: 10px;
}
.text-tupian-three{
	color: gray;
	position: relative;
	width: 100px;
	height: 16px;
	top: 57px;
	left: 13px;
	font-size: 10px;
}
.text-tupian-four{
	position: relative;
	display: flex;
	justify-content: space-around;
	top: 37px;
	left: 174px;
	width: 100px;
	height: 22px;
	/* background-color: #0000FF; */
}
.text-tupian-four>div{
	width: 21px;
	height: 21px;
}
.text-tupian-four>div img{
	width: 21px;
	height: 21px;
}
/* 国际动态结束 */

/* 轮播开始 */
.lunbo-fazhi {

	/* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  width: 100%;
  height: 400px;
}

ul.slides {
  position: relative;
  top: 0px;
  left: -250px;
  width: 640px;
  height: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eee;
  overflow: hidden;
}

li.slide {
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 16px;
  color: #fff;
  transition: .5s transform ease-in-out;
}
.slide p{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	position: relative;
	top: 170px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	
}
.slide:nth-of-type(1) {
 background: url(../img/2022061715433396151.jpg);
 background-size: 100% 100%;
}

.slide:nth-of-type(2) {
 background: url(../img/2022061812132082109.jpg);
 background-size: 100% 100%;
  left: 100%;
}

.slide:nth-of-type(3) {
  background:url(../img/2022061719033977345.jpg);
  background-size: 100% 100%;
  left: 200%;
}

input[type="radio"] {
  position: relative;
  z-index: 100;
  display: none;
}

.controls-visible {
  position: absolute;
  width: 100%;
  bottom: 12px;
  text-align: center;
}

.controls-visible label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 3px;
  border: 2px solid #fff;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
  background-color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
  transform: translatex(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
  transform: translatex(-100%);
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
  transform: translatex(-200%);
}


/* Left/Right Button Classes Below */

.navigator {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  display: none;
}

.navigator i {
  font-size: 32px;
  color #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
  display: flex;
}

.slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
  display: flex;
}
/* 轮播结束 */
 /* 轮播右边开始 */
 
 .lunboyou{
	 position: relative;
	 top: -400px;
	 left: 640px;
	 width: 500px;
	 height: 400px;
	 /* background-color: blueviolet; */
 }
 .lunboyou ul li{
	 width: 100%;
	 height: 50px;
	 line-height: 50px;
	 list-style: none;
	 padding-left: 15px;
	 border-bottom: 1px solid #000000;
 }
 .lunboyou ul li:last-child{
	 border-bottom: none;
 }
 .lunboyou ul li:hover{
	 background-color: rgba(170, 170, 255, 0.3);
 }
  /* 轮播右边结束 */
  /* 轮播底边开始 */
  .lunbo-bottom{
	  width: 100%;
	  height: 300px;
	  display: flex;
	  justify-content: space-between;
	  background-color: pink;
	  margin-top: -400px;
	  overflow: hidden;
  }
  .lunbo-bottom>div{
	  width: 33.3%;
	  height: 300px;
  }
  .lunbo-bottom-one{
	  background-color: #0000FF;
  }
  .lunbo-bottom-two{
  	  background-color: #ffaaff;
  }
  .lunbo-bottom-three{
  	  background-color: #55ffff;
  }
  .to{
	  width: 100%;
	  height: 160px;
	  overflow: hidden;
  }
  
  .to:hover{
	  transform: scale(1.2);
	  transition: 1s;

  }
  /* 高光开始 */
 
.gaoguang{
      /* 100%窗口高度 */
      /* min-height: 100vh; */
	  height: 480px;
      /* 弹性布局 水平+垂直居中 */
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
	  margin-top: -380px;
      /* background-color: #353540; */
  }
  .container{
      width: 100%;
      max-width: 1200px;
      display: flex;
	  
  }
  .card{
      /* 相对定位 */
      position: relative;
      /* 自动放大占满剩余空间 */
      flex: 1;
      height: 460px;
      margin: 0 20px;
      /* 设置视距 */
      perspective: 1000px;
  }
  /* 投影效果 */
  .card::before{
      content: "";
      width: 90%;
      height: 90%;
      background-color: rgba(0,0,0,0.5);
      /* 绝对定位 */
      position: absolute;
      left: 5%;
      top: 5%;
      /* 投影 */
      box-shadow: 0 6px 12px 12px rgba(0,0,0,0.4);
      opacity: 1;
      /* 设置旋转元素的基点位置 */
      transform-origin: top center;
      /* 设置过渡:时长 加速后减速 */
      transition: 0.3s ease-in-out;
  }
  /* 鼠标移上,投影的变化 */
  .card:hover::before{
      opacity: 0.6;
      transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }
  /* 封面 */
  .card-cover{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      /* 溢出隐藏 */
      overflow: hidden;
      /* 开启3D */
      transform-style: preserve-3d;
      /* 设置旋转元素的基点位置 */
      transform-origin: top center;
      /* 设置过渡 */
      transition: transform 0.35s ease-in-out;
  }
  .card-cover:hover{
	  cursor: pointer;
  }
  .card-cover::after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 120%;
      /* 背景渐变(高光效果) */
      background: linear-gradient(226deg,rgba(255,255,255,0) 40%,rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 60%);
      /* 默认上移出可视范围 */
      transform: translateY(-100%);
      /* 设置过渡 */
      transition: transform 0.85s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .card:hover .card-cover{
      transform: rotateX(7deg) translateY(-6px);
  }
  .card:hover .card-cover::after{
      transform: translateY(100%);
  }
  /* 高光结束 */
  /* 轮播底边结束 */
  
  
  
  /* 焦点访谈开始 */
  .kk{
	  width: 100%;
	  height: 1020px;
	  display: flex;
	  justify-content: space-between;
	  /* background-color: pink; */
  }
  .kkl{
	  width: 23%;
	  height: 1000px;
	  /* background-color: #0000FF; */
  }
  .kkm{
  	  width: 50%;
  	  height: 1000px;
  	  /* background-color: #ffaaff; */
  }
  .kkn{
  	  width: 23%;
  	  height: 1000px;
  	  /* background-color: #ff007f; */
  }
  .kkl>div{
	  width: 100%;
	  height: 200px;
  }
  .kkl-one img{
	  height: 143px;
  }
  .kkl-two{
	  text-align: center;
	  margin-top: 10px;
  }
  .kkm-one{
	  width: 100%;
	  height: 360px;
	  background-color: #000000;
  }
  .kkm-two{
	  text-align: center;
  }
  .kkm-three{
	  width: 100%;
	  height: 100px;
	  text-indent: 2em;
	  background-color: rgba(0,0,0,0.2);
	  margin-top: 32px;
  }
  .kkm-four{
	  margin-top: 15px;
  }
  /* ------------------------------------------------------------ */
   .kkn-one{
	   width: 262px;
	   height: 600px;
	   /* background-color: #0000FF; */
	   
   }
  .kkn-one ul li{
	  width: 262px;
	  height: 50px;
	  line-height: 50px;
	  list-style: none;
	  padding-left: 10px;
		border-bottom: #000000 1px solid;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
  }
  .kkn-one ul li:hover{
	  background-color: rgba(85, 170, 255, 0.5);
  }
  .kkn-two{
	  width: 100%;
	  height: 400px;
	  /* background-color: #0000FF;	 */
  }
  .kkn-two-top{
	  margin-top: 10px;
  }
  .kkn-two-top img{
	  width: 262px;
	  height: 143px;
  }
  /* 焦点访谈结束 */
  
  /* 精选图集开始 */
  
  
 .jingxuantuji{
      /* 100%的窗口 */
      height: 700px;
      /* 弹性布局 水平+垂直居中 */
      display: flex;
      justify-content: center;
      align-items: center;
      /* 渐变背景 */
      background: linear-gradient(to bottom,#517fa4,#243949);
  }
  
  .containerbb{
      width: 1000px;
      height: 700px;
  }
  
  .containerbb ul{
      list-style: none;
      /* 相对定位 */
      position: relative;
      width: 100%;
      height: 100%;
      /* 弹性布局 */
      display: flex;
      /* 让子元素平均分配宽度 */
      justify-content: space-around;
      /* 让子元素在交叉轴（Y轴）的最下方排列 */
      align-items: flex-end;
  }
  
  .containerbb ul li{
      width: 200px;
      /* 鼠标放上变小手 */
      cursor: pointer;
  }
  
  /* 小图 */
  .containerbb ul li img{
      width: 100%;
      height: 110px;
      /* 加个透明边框 让图片看起来有距离 */
      border: 5px solid transparent;
  }
  
  /* 大图 */
  .containerbb ul .big-img{
      /* 绝对定位 */
      position: absolute;
      top: 0;
      left: 0;
      width: 1000px;
      height: 550px;
      /* 背景图片 不平铺 */
      background: url(../img/1655374739693_575.jpg) no-repeat;
      /* 对图片进行剪切 保留原始比例 */
      background-size: cover;
      /* 图片定位到正中间 */
      background-position: center;
      /* 跟小图片一样设置个透明度 为了对齐 */
      border: 5px solid transparent;
      /* 动画过渡 */
      transition: 0.5s;    
  }
  
  /* 移动框 */
  .containerbb ul .frame{
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 200px;
      height: 110px;
      border: 5px solid #fff;
      /* 这里有一个bug（闪烁） */
      /* 加这个属性可以让移动框不会被鼠标捕捉到（解决闪烁这个bug） */    
      pointer-events: none;
      /* 动画过渡 */
      transition: 0.5s;    
  }
  
  /* 移动框上的三角形 */
  .containerbb ul .frame::before{
      content: "";
      position: absolute;
      width: 30px;
      height: 15px;
      background-color: #fff;
      /* 计算 居中 */
      left: calc(50% - 15px);
      top: -18px;
      /* 裁切出一个三角形 */
      clip-path: polygon(0 100% ,50% 0,100% 100%);
  }
  
  /* 鼠标移入小图，改变大图 */
  .containerbb ul li:nth-child(1):hover ~ .big-img{
      background-image:url(../img/1655374739693_575.jpg);
  }
  .containerbb ul li:nth-child(2):hover ~ .big-img{
      background-image: url(../img/Snipaste_2022-06-20_01-03-24.png);
  }
  .containerbb ul li:nth-child(3):hover ~ .big-img{
      background-image: url(../img/1654210020676049153.jpg);
  }
  .containerbb ul li:nth-child(4):hover ~ .big-img{
      background-image: url(../img/1655555026589_796.jpg);
  }
  .containerbb ul li:nth-child(5):hover ~ .big-img{
      background-image:url(../img/MAIN202112131030584721886129206.jpg);
  }
  
  .containerbb ul li:nth-child(1):hover ~.frame{
      left: 0;
  }
  .containerbb ul li:nth-child(2):hover ~.frame{
      left: 200px;
  }
  .containerbb ul li:nth-child(3):hover ~.frame{
      left: 400px;
  }
  .containerbb ul li:nth-child(4):hover ~.frame{
      left: 600px;
  }
  .containerbb ul li:nth-child(5):hover ~.frame{
      left: 800px;
  }
  /* 精选图集结束 */
  
  
  
  
  /* ******************************** */
  /* 底部开始 */
  /* 底部开始 */
  .dibu{
  	width: 100%;
  	height: 420px;
  	/* background-color:#2EDE98; */

  }
  /* 友情链接开始 */
  .youqinglianjie{
  	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
  	width: 1100px;
  	height: 200px;
  	background-color: #f5f5f7;
	margin-left: 12px;
  }
  .youqinglianjie>a div{
  	width: 171px;
  	height: 20px;
  	/* background-color: pink; */
  }
  .youqinglianjie>a{
  	color: #000000;
  }
  .youqinglianjie>a:hover{
  	color: #D15A39;
  	text-decoration: none;
  }
  /* 友情链接结束 */
  /* 工商登记开始 */
  .gongshangdengji>div{
  	text-align: center;
  	color: #999999;
  }
  /*工商登记 结束 */
  /* 底部结束 */
  /* 广告新时代开始 */
  .zanzhu{
  	display: flex;
  	justify-content: space-around;
  }
  .guanggao-xinshidai img{
  	width: 100%;
  	height: 90px;
  }
  .zanzhu >div img{
  	width: 126px;
  	height: 45px;
  }
  /* 广告新时代结束 */
  
  /* 底部结束 */
  /* 回到顶部开始 */
  .huidaodingbu{
  	position: fixed;
  	width: 85px;
  	height: 30px;
  	line-height: 30px;
  	text-align: center;
  	top: 536px;
     left: 1400px;
  		background-color: #dededf;
  		border-radius: 10px;
  }
  .huidaodingbu-a{
  	color: #000000;
  }
  /* 回到顶部结束 */
  /* ********************************* */